<a href="https://colab.research.google.com/github/JohnceenPulido/CPE-21A-PLD-1-2/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [ ]:
a = 234
b = 235
print(a<b)

d = 78
e = 79
t = print(d==e)
t



print(7482>2845)
print(7482==2845)

In [ ]:
print(bool("Hi"))
print(bool(25))
print(bool(False))
print(bool(True))
print(bool({}))
print(bool([]))
print(bool(None))
print(bool(0))
print(bool(""))

In [ ]:
def myfunction(): return False
print(myfunction())

In [ ]:
def myfunction(): return True

if myfunction():
  print("Yes")
else:
    print("No")

In [35]:
print(10>9)

a = 6
b = 7
print(a!=b)
print(a==b)
print(a==6)
print(a!=a)

True
True
False
True
False

#Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

#Bitwise Operators

In [ ]:
a = 60 #0011 1100
b = 13
print(a^b)
print(-a)
print(-b)
print(a<<2)
print(a>>2) #0000 1111

#Assignment Operator

In [ ]:
x = 45
x += 46 #Same as x = x + 46
print(x)

vx = 40
vx -= 35
print(vx)

#Logical Operator

In [ ]:
k = 3
h = 7
print(k>h and k==k)
print(k<h or h==k)

#Identity Operator

In [33]:
ox = "I am Happy"
gn = "I am not happy"
print(ox is gn)
ox is not gn

False

True