<a href="https://colab.research.google.com/github/JohnceenPulido/CPE-21A-PLD-1-2/blob/main/Pulido%2C_Nel_Johnceen%2C_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indentation

In [1]:
if 50 > 45:
  print("50 is greater than 45!!!")

50 is greater than 45!!!

#Python Comments

In [ ]:
#This is how you write comments
print("Hello, World")

#Variable Naming Conventions

In [ ]:
myVar1 = 1
_myVar2 = 2
my_Var3 =  3
my_Var_no4 = 4

#Python Variable

In [ ]:
x_y = 12345678
q, w, e, r, t, y = 1, 2, 3, 4, 5, 6

#Casting

In [ ]:
a = "Johnceens"
a = int(20)
print(a)

a = float(25)
print(a)

#Type()Function

In [ ]:
x = float(10)
y = int(56)
z = "Johnceens"
print(type(x))
print(type(y))
print(type(z))

#"Double Quotes" or 'Single Quotes'

In [ ]:
z = "Sanicare"
z = 'Sanicare'
print(z)

#Case Sensitive

In [ ]:
z = (6)
Z = "Onikuma"
#Z will not overwrite z

#Multiple variables

In [ ]:
q, w, e = "I", "am", "happy"
print(q)
print(w)
print(e)

#One Value to Multiple variables

In [ ]:
q = w = e = "ggwp"
print(q)
print(w)
print(e)

#Output Variables

In [ ]:
q = "you"
print("I am" + " " + q)

#another method
w = "Programming is "
e = "Fascinating"
r = w + e
print(r)

#Arithmetic Operations

In [ ]:
q = 5
w = 6
e = 10
r = 50
sum = q+w+e+r
print(sum)
print(q + w)
print(e - r)

#Assignment Operators

In [31]:
q, w, e = 1, 45, -45
w %= 3
print(w)

0

#Comparison Operators

In [ ]:
q, w, e = 1, 23, 3
q < w and w > e

#Identity Operators

In [ ]:
q, w = 1, 3
w is q

#Bitwise Operators